@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menus:hover {
    background-color: rgb(93, 225, 219);
    border-radius: 10px;
}

.menus {
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 5px;
}

.menulist ion-icon {
    font-size: 25px;
    margin-right: 35px;
    margin-top: -3px;
}

.logo h3 {
    font-size: 18px;
    font-weight: 900;
}

.badge {
    margin-left: 36px;
}

.log a{
    text-decoration: none;
    color: black;
}
.banner {
    background: url(./Images/HomePage/ban.avif)no-repeat;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-weight: 900;
    font-size: 80px;
    padding-top: 200px;
}

.card ion-icon {
    cursor: pointer;
}

.banner p {
    font-size: 20px;
    width: 60%;
    margin: auto;
}

.btn1:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
}

.twitchbanner {
    width: 50%;
    margin: 0 auto;
    animation: bounce 5s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-30px);
    }
}

.productheading {
    margin-left: 110px;
}

.section img:hover {
    transform: scale(1.2);
}

.banner3 img {
    height: 380px;
}

.news input,
.news button {
    margin: 10px 0px;
}

/* Start Footer */
.social {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 1.5em;
    cursor: pointer;
}

.footer1 h1 {
    font-weight: 900;
    cursor: pointer;
}

footer h3 {
    color: #ff0000;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
}

.foot {
    background-color: rgb(93, 225, 219);
}

footer p {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    cursor: pointer;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
@media screen and (max-width:600px){
    .section img:hover {
        transform: scale(1);
    }
    .banner h1 {
        padding-top: 50px;
    }

    .banner3 img {
        height: 200px;
        object-fit: contain;
    }
    .twitchbanner {
        display: none;
    }
    .banner p {
        font-size: 18px;
        width: 90%;
    }
}

@media screen and (max-width:960px){
    .banner p {
        font-size: 18px;
        width: 90%;
    }
    .banner h1 {
        padding-top: 50px;
    }
}